<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>

<body>
  <div id="app">
    <div v-for="(item, index) in arr" :key="index">
      {{item}}-{{index}}
    </div>
    <div v-for="(obj, index) in name">
      {{obj.name}}
      <button @click="handleClick(index)">下移</button>
    </div>
    <div v-for="(value, keys, index) in object">
      {{value}},{{keys}},{{index}}
    </div>
  </div>
  <script>
    const vm = new Vue({
      el: '#app',
      data: {
        arr: [1, 2, 3, 4],
        name: [
          { name: '杉杉', age: 18 },
          { name: '思彤哥', age: 20 },
          { name: '成哥', age: 22 },
          { name: '邓哥', age: 88 }
        ],
        object: {name: 'yang', age: 16}
      },
      methods: {
        handleClick(index) {
          if (index === this.name.length - 1) {
            index = -1
          }
          const deleteItem = this.name.splice(index, 1)
          this.name.splice(index + 1, 0, ...deleteItem)
        }
      },
    })
  </script>
</body>

</html>

<style>
</style>